@media screen and (max-width: 1700px) {
    .main__img {
        top: 0;
    }
    .main__container {
        padding-top: 0;
    }
}
@media screen and (max-width: 1550px) {
    /* .main__img {
        width: 600px;
    } */
    .card--5 {
        grid-row: 4/8;
    }
    .card--6 {
        grid-row: 4/6;
    }
    .card__title {
        font-size: 21px;
        line-height: 30px;
    }
    .card__text {
        font-size: 16px;
        line-height: 22px;
    }
    .main__container {
        padding-top: 65px;
    }
}
@media screen and (max-width: 1450px) {
    .main__container {
        padding-top: 50px;
    }
}
@media screen and (max-width: 1350px) {
    .main__container {
        padding-top: 20px;
        grid-gap: 10px;
    }
}
@media screen and (max-width: 1250px) {
    .main__container {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 0px;
    }
    .card--1 {
        grid-row: 2/4;
    }
    .card--2 {
        grid-row: 4/6;
    }
    .card--3 {
        grid-row: 6/8;
    }
    .card--4 {
        grid-row: 4/7;
    }
    .card--5 {
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .card--6 {
        grid-row: 4/6;
    }
    .main__img {
        right: 50%;
        transform: translateX(50%);
        top: 100px;
        width: 32%;
    }
    .title {
        display: flex;
        align-items: center;
    }

}
@media screen and (max-width: 1150px) {
    .main__img {
        top: 210px;
    }
}
@media screen and (max-width: 992px) {
    .card:hover {
        transform: none;
    }
    .header {
        width: 100%;
        padding: 10px;
    }
    /* .main__container {
        grid-template-rows: 0.5fr repeat(5, 1fr);
    }
    .card--6 {
        grid-row: 4/5;
    } */
    .card__title {
        font-size: 18px;
        line-height: 25px;
    }
    .card__text {
        font-size: 14px;
        line-height: 20px;
    }
    .title {
        justify-content: center;
        font-size: 36px;
        line-height: 50px;
    }
}
@media screen and (max-width: 850px) {
    .main__img {
        top: 150px;
    }
    .card--4 {
        grid-row: 3/6;
    }
}
@media screen and (max-width: 768px) {
    .main__img {
        width: 100%;
        position: static;
        transform: none;
    }
    .main__container {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .title {
        grid-column: auto;
        font-size: 24px;
        line-height: 34px;
    }
    .card {
        grid-row: auto;
        grid-column: auto;
    }
    body {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .card__text {
        margin: auto;
        margin-bottom: 20px;
        max-width: 100%;
    }
}
@media screen and (max-width: 567px) {
    body {
        text-align: left;
    }
    .modal__box {
        width: 95%;
    }
    .modal__form {
        padding: 10px;
        padding-top: 50px;
    }
    .modal__close {
        right: 0;
        top: 0;
    }
    .modal__button {
        width: 100%;
    }
    .modal__input {
        min-width: 0;
        width: 100%;
    }
    .header__button {
        padding: 10px
    }
}