@font-face {
    font-family: 'MuseoCyrl-300';
    src: url("../fonts/MuseoCyrl-300.woff") format("woff"), url("../fonts/MuseoCyrl-300.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
@font-face {
    font-family: 'MuseoCyrl-500';
    src: url("../fonts/MuseoCyrl-500.woff") format("woff"), url("../fonts/MuseoCyrl-500.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
@font-face {
    font-family: 'MuseoCyrl-700';
    src: url("../fonts/MuseoCyrl-700.woff") format("woff"), url("../fonts/MuseoCyrl-700.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
@font-face {
    font-family: 'MuseoCyrl-900';
    src: url("../fonts/MuseoCyrl-900.woff") format("woff"), url("../fonts/MuseoCyrl-900.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
* {
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    padding-top: 0;
    background: #030305;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}
.title {
    color: #ffffff;
    text-align: center;
    font-family: 'MuseoCyrl-900';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 67px;
    grid-row: 1/2;
}
.main {
    padding: 15px;
    position: relative;
    /* background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: contain;
    background-size: auto; */
}
.main__img {
    position: absolute;
    right: 200px;
    top: 60px;
    width: 400px;
}
.main__img img {
    border-radius: 10px;
}
.main__container {
    padding-top: 50px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card {
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.04);
}
.card--1 {
    background-color: #030305;
    grid-row: 2/5;
}
.card--2 {
    background-color: #F47A00;
    grid-row: 5/8;
}
.card--3 {
    background-color: #463F3A;
    grid-row: 1/4;
}
.card--4 {
    background-color: #1D4CAA;
    grid-row: 4/8;
}
.card--5 {
    background-color: #01514C;
    grid-row: 4/8;
}
.card--6 {
    background-color: #3F4210;
    grid-row: 4/6;
}
.card__title {
    color: #ffffff;
    font-family: 'MuseoCyrl-700';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
}
.card__img {
    margin: auto;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__text {
    color: #fff;
    font-family: 'MuseoCyrl-500';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 450px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    font-family: 'MuseoCyrl-300';
}
li {
    margin-bottom: 5px;
}
.header {
    background-color: #131313;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__mail {
    display: block;
    margin: 0 !important;
}
.header__button {
    transition: 0.3s;
    background-color: #01514C;
    border: 2px solid #01514C;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    margin: 0 !important;
}
.header__button:focus {
    outline: none;
}
.header__button:hover {
    background: #ffffff;
    color: #01514C;
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal--visible {
    visibility: visible;
    opacity: 1;
}
.modal__input:focus {
    outline: none;
}
.input-group {
    margin-bottom: 20px;
}
.modal__form {
    background: url(../img/bg.png) no-repeat center;
    padding: 40px;
    position: relative;
}
.modal__input {
    margin: 0 !important;
    margin-bottom: 20px;
    color: #131313;
    min-width: 400px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #ffffff;
}
.modal__close {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.modal__button {
    transition: 0.3s;
    background-color: #01514C;
    padding: 15px 30px;
    border: 2px solid #01514C;
    border-radius: 5px;
    display: block;
    margin: auto;
    cursor: pointer;
}
.modal__button:focus {
    outline: none;
}
.modal__button:hover {
    background-color: #fff;
    color: #01514C;
}
.input-group {
    position: relative;
}
.input-group label.invalid {
    color: tomato;
    position: absolute;
    bottom: -8px;
    left: 0;
}